<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python36\python.exe|C:\Python36\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
        <httpRedirect enabled="false" />
  </system.webServer>
<appSettings>
    <!-- Required settings -->
    <add key="WSGI_HANDLER" value="main.app" />
    <add key="WSGI_LOG" value="C:\logs\app.txt" />
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\flasktelegram" />
    <!--
    <add accessType="Allow" users="*" />
    -->
  </appSettings>
</configuration>